* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    width: 150px;
}

.header_btn {
    text-decoration: none;
    color: #e98bbf;
    border: 1px #e98bbf solid;
    border-radius: 15px;
    padding-top: 4px;
    width: 85px;
    height: 25px;
    font-size: 11px;
    text-align: center;
}

.community {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.community_title {
    margin-bottom: 20px;
    font-weight: bold;
}

.community_subtitle {
    text-align: center;
    margin-left: 260px;
    margin-right: 260px;
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    color: white;
    border: 1px #e98bbf solid;
    background-color: #fd53c0;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    padding-top: 12px;
    margin-bottom: 75px;
}

.community_illustration {
    width: 650px;
    height: 450px;
    margin-bottom: 80px;
}

.mockups {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin-left: 180px;
}

ul {
    list-style: none;
    margin-right: 220px;
}

.icon {
    height: 25px;
    width: 30px;
}

.mockups_title {
    font-size: 70px;
    font-weight: bold;
}

.mockups_subtitle {
    color: #a8adb1;
}
