* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.page {
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
}

.huddle {
    width: 150px;
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    color: white;
    border: 1px #e98bbf solid;
    background-color: #fd53c0;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    padding-top: 13px;
}

.header_btn {
    color: #e98bbf;
    padding-top: 4px;
    width: 85px;
    height: 25px;
    font-size: 11px;
    background-color: white;
}

.community {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.community_title {
    margin-bottom: 20px;
    font-size: 40px;
}

.community_subtitle {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 260px;
    margin-right: 260px;
}

.community_illustration {
    width: 650px;
    height: 450px;
    margin-bottom: 70px;
    margin-top: 75px;
}

.community_numbers {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.community_background {
    background-image: url("images/bg-section-top-desktop-1.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
    height: 160px;
    width: 100%;
}

.icon {
    height: 25px;
    width: 30px;
}

.mockups_title {
    font-size: 70px;
    font-weight: bold;
}

.mockups_subtitle {
    color: #a8adb1;
}

.section {
    display: flex;
    flex-direction: column;
}

.section_content {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

h2 {
    font-weight: bold;
}

.section_text {
    margin-left: 100px;
    font-size: 11px;
}

.title {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 30px;
}

.illustration {
    height: 280px;
    width: 320px;
    margin-left: 100px;
    margin-right: 100px;
}

.section_background {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100px;
    width: 100%;
}

.bg-grey {
    background-color: #f6fbff;
}

.together_background {
    background-image: url("images/bg-section-bottom-desktop-1.svg");
}

.flowing_background {
    background-image: url("images/bg-section-top-desktop-2.svg");
}

.users_background {
    background-image: url("images/bg-section-bottom-desktop-2.svg");
}

.build {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    background-image: url("images/bg-footer-top-desktop.svg");
    background-position: bottom;
    padding-bottom: 250px;
    background-repeat: no-repeat;
}

.build_title {
    margin-bottom: 30px;
}

.footer {
    background-color: #00262f;
    color: #abc0c5;
    padding-bottom: 60px;
}

.footer_phonemail {
    display: flex;
}

.logo_text {
    margin-left: 15px;
}

.footer_title {
    margin-bottom: 20px;
    font-size: 15px;
}

.footer_subtitle {
    font-size: 11px;
    margin-bottom: 15px;
    margin-right: 100px;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    margin-right: 75px;
    margin-bottom: 50px;
    margin-left: 75px;
}

.footer_left,
.footer_right {
    width: 50%;
}

.email {
    width: 200px;
    height: 30px;
    border-radius: 3px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.footer_btn {
    color: white;
    border: 1px #e98bbf solid;
    background-color: #fd53c0;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.footer_logo {
    margin-left: 75px;
}

.foot_logo {
    margin-right: 15px;
}
